.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*chia thành 3 column giống nhau có gap 20px
  flexbox => 1 dimensions
  grid => 2 dimensions
  ===> làm vc sxep nhiều rows và column dễ hơn*/
  gap: 20px;
}

.item {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}