body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  min-height: calc(100vh - 100px);
}

section {
  width: 80%;
}

hr {
  width: 80%;
}