p {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
  border: 2px solid black;
}
/* margin-top là tạo khoảng trên
margin-bottom là tạo khoảng dưới 
tương tự margin-right
margin-left
====> nếu muốn kết hợp cả 4: margin
*/